<section id="about" class="s-about target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h3>Hakkında</h3>
            <h1>fazlası için</h1>
            <p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>
        </div>
    </div>

    <div class="row about-content">

        <div class="col-six tab-full left">
            <h3>Howdy!</h3>

            <p>Lorem ipsum Ut eiusmod ex magna sit dolor esse adipisicing minim ad cupidatat eu veniam nostrud mollit laboris sunt magna velit culpa consectetur nostrud consectetur labore sed do.</p>

            <p>
                Lorem ipsum Nisi officia Duis irure voluptate dolor commodo pariatur occaecat aliquip adipisicing voluptate Ut in qui ea sint occaecat in commodo in in in incididunt ut sunt in Ut Duis in ut ex qui anim cupidatat cupidatat ex in non dolore labore ea amet cillum ea qui dolor nisi sed velit mollit exercitation ex fugiat labore in deserunt culpa laborum culpa anim dolore laboris amet irure mollit proident velit fugiat aute ea elit magna consequat qui officia quis elit Duis dolor esse cupidatat tempor proident voluptate aliqua ex cupidatat do eiusmod veniam irure laborum ut magna nostrud dolore ullamco commodo elit sit magna aliqua laborum veniam officia dolor.
            </p>
        </div>

        <div class="col-six tab-full right">
            <h3>I've Got Some skills.</h3>

            <ul class="skill-bars">
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>C/C++</strong>
                </li>
                <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>C#</strong>
                </li>
                <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>.Net Core</strong>
                </li>
                <li>
                    <div class="progress percent95"><span>95%</span></div>
                    <strong>HTML, CSS</strong>
                </li>
                <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>OOP</strong>
                </li>
                <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>SQL, T-SQL</strong>
                </li>
            </ul>
        </div>

    </div> <!-- end about-content -->

    <div class="row about-content about-content--buttons">

        <div class="col-six tab-full left">
            <a href="#0" class="btn btn--primary full-width">Özgeçmişim</a>
        </div>
        <div class="col-six tab-full right">
            <a href="#0" class="btn full-width">Bağlantıya geç</a>
        </div>

    </div> <!-- end about-content buttons -->

    <div class="row about-content about-content--timeline">

        <div class="col-full text-center">
            <h3>My Work Experience.</h3>
        </div>

        <div class="col-six tab-full left">
            <div class="timeline">
                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">Kasım 2024 - devam</p>
                        <h3>Fiverr</h3>
                        <h5>Freelance Software Developer, Remote</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>
                            Provide freelance software development services, focusing on delivering high-quality solutions tailored to client needs.
                            Work with programming languages such as C/C++, C# and Python, implementing efficient and scalable solutions.
                            Specialize in problem-solving, code optimization, and debugging to ensure reliable project outcomes.
                            Collaborate with clients globally to achieve successful and timely project deliveries.
                        </p>
                    </div>
                </div>
                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">Mayıs - Ekim 2024</p>
                        <h3>Outlier AI</h3>
                        <h5>AI Eğitmeni</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>
                            Türkçe yapay zekâ modellerini eğitmek için veri setlerinde içerik üreterek eğitim süreçlerinin
                            doğruluğunu ve çeşitliliğini artırdım.
                            Belirli konular üzerine geri bildirim sağlayarak yapay zekâ modellerinin çıktı kalitesinin
                            iyileştirilmesine katkıda bulundum.
                            Yapay zekâ tarafından üretilen metinlerin gerçekçiliğini ve doğruluğunu değerlendirerek model
                            tutarlılığını optimize ettim.
                        </p>
                    </div>
                </div> <!-- end timeline__block -->

                 <!-- end timeline__block -->

            </div> <!-- end timeline -->
        </div> <!-- end left -->

        <div class="col-six tab-full right">
            <div class="timeline">

                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">Eylül 2013 - Haziran 2014</p>
                        <h3>Vatan Bilgisayar</h3>
                        <h5>Müşteri Hizmetleri Stajyeri</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>
                            Servisten gelen donanım parçalarının montajını gerçekleştirerek sistemlerin yeniden kullanıma hazır
                            hale getirilmesine destek oldum.
                            Yazılımsal ve donanımsal hataları tespit ederek çözüm süreçlerinde teknik ekibe yardımcı oldum.
                            Servis irsaliyelerini sisteme girerek ve düzenleyerek kayıt süreçlerinin doğru bir şekilde
                            tamamlanmasını sağladım.
                            Müşterilerle etkili iletişim kurarak sorunların anlaşılmasını ve uygun çözümlerin sunulmasını
                            destekledim.
                            Kalabalık bir ekip içerisinde uyumlu çalışarak işlerin zamanında ve doğru bir şekilde
                            tamamlanmasına katkıda bulundum.
                        </p>
                    </div>
                </div> <!-- end timeline__block -->
                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">Ağustos - Ekim 2024</p>
                        <h3>Supsan Otomotiv Parçaları</h3>
                        <h5>Bilgi Sistemleri Stajyeri</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>
                            Ağ sorunlarını tespit ederek çözüm süreçlerinde teknik ekibe destek sağladım.
                            Ağ altyapısının güncellenmesi ve iyileştirilmesine yönelik çalışmalarda görev aldım.
                            Donanım montajı, kurulum ve bakım çalışmalarında ekip üyelerine yardımcı oldum.
                            Donanım sorunlarının kayıt altına alınması ve teknik raporlama süreçlerine katkı sağladım.
                            Supman Uygulaması projesi kapsamında ağ yönetimi ve yazılım geliştirme çalışmalarını
                            gözlemleyerek öğrenim sürecimi destekledim.
                        </p>
                    </div>
                </div>

                 <!-- end timeline__block -->

            </div> <!-- end timeline -->
        </div> <!-- end right -->

    </div> <!-- end about-content timeline -->

</section>