@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" lang="en">
@await Component.InvokeAsync("_HeadComponentPartial")

<body id="top">

    @await Component.InvokeAsync("_NavBarComponentPartial")

    @await Component.InvokeAsync("_FeatureComponentPartial")

    @await Component.InvokeAsync("_AboutComponentPartial")

    @await Component.InvokeAsync("_SkillComponentPartial")

    @await Component.InvokeAsync("_TestimonialComponentPartial")

    <section id="blog" class="s-blog target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Blog</h3>
                <h1>En son Medium Yazılarım</h1>
                
            </div>
        </div>

        <div class="row blog-content">
            <div class="col-full">

                <div class="blog-list block-1-2 block-tab-full">
                    <div id="retainable-rss-embed"
                         data-rss="https://medium.com/feed/&#64;melihh,
https://medium.com/feed/&#64;melihh"
                         data-maxcols="3"
                         data-layout="grid"
                         data-poststyle="inline"
                         data-readmore="Read the rest"
                         data-buttonclass="btn btn-primary"
                         data-offset="-100"></div>




                </div> <!-- end blog-list -->

            </div> <!-- end col-full -->
        </div> <!-- end blog-content -->

    </section>

    @await Component.InvokeAsync("_StatisticComponentPartial")

    @await Component.InvokeAsync("_ContactComponentPartial")

    @await Component.InvokeAsync("_FooterComponentPartial")

</body>
<script src="https://www.twilik.com/assets/retainable/rss-embed/retainable-rss-embed.js"></script>
</html>

