
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
@await Component.InvokeAsync("_HeadComponentPartial")

<body id="top">

    <!--
    HEADER
    -->
    @await Component.InvokeAsync("_NavBarComponentPartial")
    <!---->
    @await Component.InvokeAsync("_FeatureComponentPartial") <!-- end s-home -->
    <!-- about
    ================================================== -->
    @await Component.InvokeAsync("_AboutComponentPartial") <!-- end about -->
    <!-- works
    ================================================== -->
    @await Component.InvokeAsync("_SkillComponentPartial")
    <section id="works" class="s-works target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Portfolio</h3>
                <h1>See My Latest Projects.</h1>

                <p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>
            </div>
        </div>

        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="~/hola-master/images/portfolio/gallery/g-beetle.jpg" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src="~/hola-master/images/portfolio/beetle.jpg"
                                     srcset="~/hola-master/images/portfolio/beetle.jpg 1x, ~/hola-master/images/portfolio/beetle@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                The Beetle
                            </h3>
                            <p class="item-folio__cat">
                                Web Development
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="~/hola-master/images/portfolio/gallery/g-lighthouse.jpg" class="thumb-link" title="Lighthouse" data-size="1050x700">
                                <img src="~/hola-master/images/portfolio/lighthouse.jpg"
                                     srcset="~/hola-master/images/portfolio/lighthouse.jpg 1x, ~/hola-master/images/portfolio/lighthouse@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Lighthouse
                            </h3>
                            <p class="item-folio__cat">
                                Web Design
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="~/hola-master/images/portfolio/gallery/g-salad.jpg" class="thumb-link" data-size="1050x700">
                                <img src="~/hola-master/images/portfolio/salad.jpg"
                                     srcset="~/hola-master/images/portfolio/salad.jpg 1x, ~/hola-master/images/portfolio/salad@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Salad
                            </h3>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="~/hola-master/images/portfolio/gallery/g-woodcraft.jpg" class="thumb-link" data-size="1050x700">
                                <img src="~/hola-master/images/portfolio/woodcraft.jpg"
                                     srcset="~/hola-master/images/portfolio/woodcraft.jpg 1x, ~/hola-master/images/portfolio/woodcraft@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Woodcraft
                            </h3>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="~/hola-master/images/portfolio/gallery/g-skaterboy.jpg" class="thumb-link" data-size="1050x700">
                                <img src="~/hola-master/images/portfolio/skaterboy.jpg"
                                     srcset="~/hola-master/images/portfolio/skaterboy.jpg 1x, ~/hola-master/images/portfolio/skaterboy@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Skaterboy
                            </h3>
                            <p class="item-folio__cat">
                                Web Development
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="~/hola-master/images/portfolio/gallery/g-liberty.jpg" class="thumb-link" data-size="1050x700">
                                <img src="~/hola-master/images/portfolio/liberty.jpg"
                                     srcset="~/hola-master/images/portfolio/liberty.jpg 1x, ~/hola-master/images/portfolio/liberty@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Liberty
                            </h3>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="~/hola-master/images/portfolio/gallery/g-minimalismo.jpg" class="thumb-link" data-size="1050x700">
                                <img src="~/hola-master/images/portfolio/minimalismo.jpg"
                                     srcset="~/hola-master/images/portfolio/minimalismo.jpg 1x, ~/hola-master/images/portfolio/minimalismo@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Minimalismo
                            </h3>
                            <p class="item-folio__cat">
                                Web Design
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="~/hola-master/images/portfolio/gallery/g-shutterbug.jpg" class="thumb-link" data-size="1050x700">
                                <img src="~/hola-master/images/portfolio/shutterbug.jpg"
                                     srcset="~/hola-master/images/portfolio/shutterbug.jpg 1x, ~/hola-master/images/portfolio/shutterbug@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Lady Shutterbug
                            </h3>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

            </div>
        </div> <!-- end masonry -->

    </section> <!-- end works -->
    <!-- testimonials
    ================================================== -->
    @await Component.InvokeAsync("_TestimonialComponentPartial") <!-- end s-testimonials -->
    <!-- blog
    ================================================== -->
    <section id="blog" class="s-blog target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Journal</h3>
                <h1>Latest From The Blog.</h1>
                <p class="lead">
                    Lorem ipsum Dolor adipisicing nostrud et aute.
                    Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum
                    ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.
                </p>
            </div>
        </div>

        <div class="row blog-content">
            <div class="col-full">

                <div class="blog-list block-1-2 block-tab-full">
                    <article class="col-block">

                        <div class="blog-date">
                            <a href="blog-single.html">Sept 16, 2017</a>
                        </div>

                        <h2 class="h01"><a href="blog-single.html">The 10 Golden Rules of Clean Simple Design.</a></h2>
                        <p>
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh..
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Branding</a><a href="blog.html">Design</a>
                        </div>


                    </article>
                    <article class="col-block">

                        <div class="blog-date">
                            <a href="blog-single.html">Sept 15, 2017</a>
                        </div>

                        <h2 class="h01"><a href="blog-single.html">Photography Can Improve Your Graphic Design.</a></h2>
                        <p>
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh..
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Photography</a>
                        </div>


                    </article>
                    <article class="col-block">

                        <div class="blog-date">
                            <a href="blog-single.html">Sept 14, 2017</a>
                        </div>

                        <h2 class="h01"><a href="blog-single.html">Workspace Design Trends and Ideas.</a></h2>
                        <p>
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh dolore irure esse Duis nulla sint.
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Branding</a><a href="blog.html">Wordpress</a>
                        </div>
                    </article>
                    <article class="col-block">

                        <div class="blog-date">
                            <a href="blog-single.html">Sept 12, 2017</a>
                        </div>
                        <h2 class="h01"><a href="blog-single.html">Using Patterns in your Branding.</a></h2>
                        <p>
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh.
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Design</a><a href="blog.html">Branding</a>
                        </div>
                    </article>
                </div> <!-- end blog-list -->

            </div> <!-- end col-full -->
        </div> <!-- end blog-content -->

    </section> <!-- end s-blog -->
    <!-- s-cta
    ================================================== -->
    
    <!-- s-stats
    ================================================== -->
    @await Component.InvokeAsync("_StatisticComponentPartial") <!-- end s-stats -->
    <!-- s-stats
    ================================================== -->
    @await Component.InvokeAsync("_ContactComponentPartial") <!-- end s-contact -->
    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full">

                <div class="footer-logo">
                    <a class="footer-site-logo" href="#0"><img src="~/hola-master/images/logo.png" alt="Homepage"></a>
                </div>

                <ul class="footer-social">
                    <li>
                        <a href="#0">
                            <i class="im im-facebook" aria-hidden="true"></i>
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="im im-twitter" aria-hidden="true"></i>
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="im im-instagram" aria-hidden="true"></i>
                            <span>Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="im im-behance" aria-hidden="true"></i>
                            <span>Behance</span>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="im im-pinterest" aria-hidden="true"></i>
                            <span>Pinterest</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Hola 2017</span>
                    <span>Design by <a href="https://www.styleshout.com/">styleshout</a></span>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->
    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="~/hola-master/js/jquery-3.2.1.min.js"></script>
    <script src="~/hola-master/js/plugins.js"></script>
    <script src="~/hola-master/js/main.js"></script>

</body>

</html>

