@model List<MyPortfolioWebApp.DAL.Entities.Experience>

<div class="container">
    <h3 class="text-center">My Work Experience</h3>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    <h4>@item.Title</h4>
                </div>
                <div class="card-body">
                    <p>@item.Description</p>
                </div>
            </div>
        }
    }
    else
    {
        <p class="text-muted text-center">No work experiences found.</p>
    }
</div>
